<!DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
</head>
<body>
<h1>{{search_term}}</h1>
{% for item in items %}
<h2>{{ loop.index }} {{ item.name }}</h2>
<h3> Created {{item.created_at}}</h3>
<a href="{{item.owner.html_url}}"><img src="{{item.owner.avatar_url}}" alt="avatar" height="42" width="42"/></a>
{{item.owner.login}}
<h3>LastCommit</h3>
{{item.last_commit_sha}} {{item.last_commit_msg}} {{item.last_commit_author}}
<hr>
{% else %}
<h2>No entries</h2>
{% endfor %}
</body>
</html>